name: PR Tests

on: workflow_dispatch

#on:
#  pull_request:
#    branches:
#      - main

jobs:
  pester-test:
    name: Pester tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Perform a Pester test from the skript.Tests.ps1 file
        shell: pwsh
        run: |
          $pester_result = Invoke-Pester skript.Tests.ps1 -Passthru
          $test_table = "| Test | Result |`n| --- | --- |`n"
          foreach ($test in $pester_result.Tests) {
              $test_table += "| $($test.Name) | $($test.Result) |`n"

          }
          $test_table  >> $env:GITHUB_STEP_SUMMARY
